@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="typeface">Molveno Lake Resort</h1>
    <p class="lead">Hotel &amp; Restaurant</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hotel</h2>
        <p>
            Add your own text here!
        </p>
        @* The button is commented out till page is implemented *@
       @* <p>@Html.ActionLink("Make hotel reservation \u00BB", "Reservation", "Reservation", null, new { @class = "btn btn-danger" })</p>*@
    </div>
    <div class="col-md-4">
        <h2>Restaurant</h2>
        <p>Add your own text here!</p>
        @* The button is commented out till page is implemented *@
        <p>@*@Html.ActionLink("Make restaurant reservation \u00BB", "Reservation", "Reservation", null, new { @class = "btn btn-danger" })*@</p>
    </div>
    <div class="col-md-2">
        <h2>Address</h2>
            Molveno Lake Resort<br />
            Via Bettega 12<br />
            38018 Miolveno (Tn)</br>
            Italia</br>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-2">
        <img src="~/Content/Images/logo.jpg" alt="Molveno Lake Resort Logo" class="molveno_logo" />
    </div>
</div>