@model X.PagedList.IPagedList<MolvenoLakeResort.Library.Business_Objects.MolvenoIngredient>

@{
    ViewBag.Title = "MolvenoIngredients";
}

<h2>MolvenoIngredients</h2>
@{ Html.RenderPartial("Partial/_PartialMolvenoIngredients", @Model); }

