@model X.PagedList.IPagedList<MolvenoLakeResort.Library.Core.Ingredient>
@{
    ViewBag.Title = "Ingredients";
}

<h2>Ingredients</h2>

@{ Html.RenderPartial("Partial/_PartialIngredient", @Model); }

